---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					<!-- {% include blog-post.html %} -->
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section>

<ul>
	<h2></h2>
	<li><b><a href="https://blog.naver.com/ekfkawnl7700">Daily Blog</a> (Only Korean)</b></li>
	<li><b><a href="https://yeongbin7.tistory.com/">Tech blog</a> (Only Korean)</b></li>
</ul>