---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>

![Profile Image]({% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %})

<p> I'm a software engineer for embedded systems and distributed file systems. Specifically, my research is security solutions for IoT and embedded systems.</p>

<h2>Areas of Interest</h2>
<ul>
	<li><b>IoT & Embedded system security</b></li>
	<li><b>IoT & Embedded system design</b></li>
	<li><b>Network security</b></li>
	<li><b>Decentralized & Distributed file systems</b></li>
</ul>
