---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            {% if post.hidden != true %}
                <div class="item {% if post.star %}star{% endif %}">
                    <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                        <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                        <h3 class="title">{{ post.title }}</h3>
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>

<h2>Current projects</h2>
<ul>
    <b>To be updated...</b>

    <li><b><span style="color:white"><a href="https://github.com/yeongbin7/coding_test" >Study coding test</a></span><br>- If you want to study with me, make directory.</b></li>

    <h3>Personal Bussiness</h3>
    <li><b><a href="https://experiences.myrealtrip.com/products/3860698">Tour & Snap Guide</a></b></li>
    <li><a href="https://youtube.com"> Youtube</a></li>
</ul>

<h2>Previous projects</h2>

<ul>
	<li><b><span style="color:white">PCB Development for PID sensor</span><br>- KIST (Korea Institute of Science and Technology)<br>- Sep 2020 ~ Dec 2020<br>- Design PCB Artwork using Eagle CAD</b></li>
	<li><b><span style="color:white"> Braille Wristwatch for Blind People</span><br>- HANYANG Academic Town Contest<br>- Mar 2021 ~ Jan 2022<br>- Braille wristwatch development using embedded board and C language</b></li>
	<li><b><span style="color:white">Plant Dictionary</span><br>- AIoT camp contest<br>- Aug 2021 ~ Sep 2021<br>- Build plant dictionary using ML(Python) and Raspberry Pi4</b></li>
	<li><b><span style="color:white">Face Detection(with mask)</span><br>- Funzin<br>- Sep 2021 ~ Dec 2021<br>- Face detection development including person wearing a mask using deep learning and embedded board in COVID-19</b></li>
	<li><b><span style="color:white">Passport Photo</span><br>- Funzin<br>- Sep 2021 ~ Dec 2021<br>- Build classification program for passport photo using deep learning and embedded board</b></li>
	<li><b><span style="color:white"><a href="https://github.com/iotauth/iotauth">Secure Swarm Toolkit (SST)</a></span><br>- HYUIOT LAB<br>- Mar 2022 ~ Sep 2022<br>- <a href="https://github.com/iotauth/sst-c-api/tree/master">SST C-API</a></b></li>
	<li><b><span style="color:white">V2X Congestion Control</span><br>- HYUIOT<br>- Jul 2022 ~ Oct 2022<br>- Build V2X congestion control algorithm using ns-3 simulator (C++)</b></li>
	<li><b><span style="color:white"><a href="https://github.com/hyu-iot/ipfs-experiment">Automation Evaluation System</a></span><br>- HYUIOT LAB<br>- Oct 2022 ~ Mar 2023<br>- Build automatic evaluation system in decentralized and distributed file system</b></li>
    <li><b><span style="color:white"><a href="https://github.com/yeongbin7/trojan"> Trojan Detection</a></span><br>- ESSLAB<br>- Sep 2023 ~ Jan 2024<br>- Build classification system between trojan and trust data using deep learning and embedded board</b></li>
	<li><b><span style="color:white"><a href="https://github.com/iotauth/iotauth">Security for Decentralized Distributed File Systems</a></span><br>- HYUIOT LAB<br>- Mar 2023 ~ Mar 2024<br>- <a href="https://dl.acm.org/doi/abs/10.1145/3631309.3632832">Secure and lightweight file system using SST</a></b></li>
	<!-- <li><b><span style="color:white"></span><br>- HYUIOT LAB<br>- Oct 2022 ~ Mar 2023<br></b></li> -->
	
</ul>